<div data-uri="{{ default _ref _self }}" data-editable="settings" class="test">
    {{#each list}}
      <div class="element">
        <a href={{link}} class="link">
          <h2 class="title">{{title}}</h2>
          <p class="description">{{description}}</p>
          <img src={{image}} class="image">
        </a>
      </div>
    {{/each}}
</div>
